{% extends 'base.html.twig' %}

{% block title %}Hello FormulaireController!{% endblock %}

{% block body %}

    <header>
        <h1>TITRE1</h1>
        <nav>
            <a href="http://localhost/code-master/cours-symfony2/public/">accueil</a>
            <a href="http://localhost/code-master/cours-symfony2/public/contact">contact</a>
        </nav>
    </header>
    <main>
        <section>
            <h2>ACCUEIL</h2>
        </section>
    </main>
    <footer>
        <p>tous droits réservés</p>
    </footer>

{% endblock %}
